@{
    ViewData["Title"] = "Confirmación";
    Layout = "_Layout2";
}

<div class="row justify-content-center">
    <p>Muchas gracias por registrarse, ¡pronto estaremos en contacto con usted!</p>
</div>